body{
          background-color: black;
}
.container{
color: aliceblue;
text-align: center;
}
input{
 font-size: 24px;
 border-radius: 12px;
}
table{
margin: auto;
width: 106px;
height: 24px;
}
button{
margin-top: 12px;
background-color: rgb(126, 235, 24);
width: 75px;
height: 59px;
border-radius: 12px;
font-size:xx-large
}
.calculator{
          display: inline-block;
          border: 2px black solid;
          padding: 23px;
          border-radius: 12px;
          background-color: burlywood;
}